/* ======================font link start=================== */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* --------------------font link end---------------------- */
/* =======================common css start===================== */
*{
    padding: 0%;
    margin: 0%;
    outline: 0;
    box-sizing: border-box;
}
ul,ol{
    list-style: none;
}
h1,h2,h3,h4,h5,h6,p,ul,ol{
    padding: 0%;
    margin: 0%;
    outline: 0;
}
a{
    text-decoration: none;
    display: inline-block;
}
/* ----------------------common css end----------------------- */
/* ======================css veriable part start==================== */
:root{
    --IBM_Plex-serif:'IBM Plex Serif', serif;
    --Croissant_one:'Croissant One', serif;
    --poopins:'Poppins', sans-serif;
    --Background_color:#212428;
    --liniar_gradiant: linear-gradient(to right bottom, #212428, #16181c);
    --Brand_color:#FFB400;
    --paragraph:#C4CFDE;
    --box_shadow: 10px 10px 19px #1C1E22, -10px -10px 19px #262A2E;

}
/* ----------------------css veriable part end-------------------- */
/* ========================menu part start==================== */
.menu_bar{
    height: 100px;
    background: linear-gradient(95deg, #1E2024 0%, #23272B 100%) !important;
    box-shadow: 10px 10px 19px #1C1E22;
    padding: 0% !important;
}
.menu_logo{
    width: 120px !important;
    height: 80px !important;
}
.menu_bar .menu_list{
    gap: 35px;
}
.menu_list .nav-item .nav-link {
    font-size: 18px;
    font-weight: 500;
    font-family: var(--IBM_Plex-serif);
    color: #fff !important;
    position: relative;
    padding: 0% !important;
    z-index: 999;
    transition: all linear .3s;
}
.menu_list .nav-item .nav-link:hover{
    color: var(--Brand_color) !important;
}
.nav-link span{
    font-size: 16px;
    color: #fff;
}
.menu_list .nav-item .nav-link:hover span{
    color: var(--Brand_color);
}
.menu_bar ul li .after::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 0px;
    background: var(--Brand_color);
    border-radius: 5px;
    top: -100%;
    left: 0%;
    padding: 0%;
    visibility: hidden;
    opacity: 0;
    transition: all linear .3s;
} 
.menu_bar ul li .after:hover::before{
    height: 2px;
    visibility: visible;
    opacity: 1;
}
.menu_bar ul li .after::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 0px;
    background: linear-gradient(rgb(255 255 255 / 17%), rgb(255 255 255 / 0%));
    top: -97%;
    left: 0%;
    padding: 0%;
    clip-path: polygon(30% 0, 70% 0, 100% 100%, 0% 100%);
    opacity: 0;
    visibility: hidden;
    transition: all linear .4s;
    z-index: -1;
}
.menu_bar ul li .after:hover:after{
    height: 45px;
    opacity: 1;
    visibility: visible;
}
.dropdown-toggle::after {
    display: inline-block;
    margin-left: 0px;
    vertical-align: none;
    content: "\f107";
    border-top: none;
    border-right: none;
    border-bottom: 0;
    border-left: none;
} 
.dropdown-item {
    font-size: 16px;
    font-weight: 500;
    font-family: var(--IBM_Plex-serif);
    color: #fff;
}
.dropdown-menu {
    --bs-dropdown-link-active-color: #000000 !important;
    --bs-dropdown-link-active-bg: #ffffff;
    --bs-dropdown-bg: #212428;
    --bs-dropdown-link-hover-color: #ffffff;
    --bs-dropdown-link-hover-bg: #FFB400;
}
.dropdown-menu[data-bs-popper] {
    left: -18px;
}
.menu_button a{
    font-size: 16px;
    font-weight: 400;
    font-family: var(--IBM_Plex-serif);
    color: #fff;
    width: 150px;
    height: 50px;
    border-radius: 12px;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all linear .4s;
    background: linear-gradient(145deg, #1e2024, #23272b);
   box-shadow:  10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;;
}
.menu_button a:hover{
    color: var(--Brand_color);
    transform: translateY(-3px);
}
.menu_button a::before {
    content: "";
    position: absolute;
    transition: all linear .4s;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    top: 0;
    left: 0;
    background: linear-gradient(to right bottom, #212428, #16181c);
    opacity: 0;
    z-index: -1;
}
.menu_button a:hover:before{
    opacity: 1;
}

/* ------------------------menu part end--------------------- */
/* ========================banner part start==================== */
#banner_part{
    padding-top: 100px;
    padding-bottom: 70px;
    background: var(--Background_color);
}

.banner_heading h2{
    font-size: 18px;
    font-weight: 400;
    font-family: var(--IBM_Plex-serif);
    color: var(--paragraph);
}
.banner_heading h1 {
    width: 630px;
    font-size: 64px;
    font-weight: 700;
    font-family: var(--Croissant_one);
    color: #fff;
    margin-top: 25px;
    margin-bottom: 20px;
}
.banner_heading h1 span{
    color: var(--Brand_color);
}
.banner_heading{
    position: relative;
}
.word {
    width: 600px;
    position: absolute;
    top: 25%;
    left: 10%;
    margin: auto;
    color: var(--Brand_color);
    font-size: 58px;
    font-weight: 700;
    font-family: var(--Croissant_one);
}
.banner_heading p{
    width: 630px;
    font-size: 16px;
    font-weight: 400;
    font-family: var(--IBM_Plex-serif);
    color: var(--paragraph);
    margin-top: 25px;
    margin-bottom: 100px;
}
.banner_heading .banner_icon_list h3{
    font-size: 16px;
    font-weight: 400;
    font-family: var(--IBM_Plex-serif);
    color: var(--paragraph);
    margin-bottom: 30px;
    text-transform: uppercase;
}
.banner_icon_list ul{
    display: flex;
    align-items: center;
    gap: 25px;
}
.banner_icon_list ul li a{
    width: 60px;
    height: 60px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all linear .3s;
    background: linear-gradient(145deg, #1E2024 0%, #23272B 100%);
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
}
.banner_icon_list ul li a:hover{
    transform: translateY(-3px);
    background: linear-gradient(to right bottom, #212428, #16181c);
}
.banner_icon_list ul li a i{
    font-size: 26px;
    color: var(--Brand_color);
    transition: all linear .3s;
}
.banner_icon_list ul li a:hover .facebook{
    color: #1877F2;
}
.banner_icon_list ul li a:hover .instagram{
    background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner_icon_list ul li a:hover .twiter{
    color: #1DA1F2;
}
.banner_icon_list ul li a:hover .linkdin{
    color: #0077b5;
}
.banner_img{
    display: flex;
    justify-content: end;
}
.banner_img img{
    width: 420px !important;
    height: 510px !important;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border: 10px solid var(--Brand_color);
}
/* ------------------------banner part end--------------------- */
/* ========================about part start==================== */
#about{
    padding-top: 50px;
    padding-bottom: 50px;
    background: var(--Background_color);
}
.about_heading h2{
    font-size: 36px;
    font-weight: 700;
    font-family: var(--Croissant_one);
    color: #fff;
    text-align: center;
    margin-bottom: 70px;
}
.about_heading h2 span{
    color: var(--Brand_color);
}
.about_col h3{
    font-size: 26px;
    font-weight: 700;
    font-family: var(--IBM_Plex-serif);
    color: #fff;
    margin-bottom: 30px;
}
.about_list{
    display: flex;
    align-items: center;
    gap: 60px;
}
.about_list ul li{
    font-size: 18px;
    font-weight: 500;
    font-family: var(--IBM_Plex-serif);
    color: var(--paragraph);
    margin-top: 15px;
}
.about_list .highlight{
    color: var(--Brand_color);
}

.about_list ul li span{
    margin-left: 12px;
    font-weight: 600;
    color: #fff;
    position: relative;
    cursor: pointer;
    transition: all linear .3s;
}
.about_list ul li span:hover{
    color: var(--Brand_color);
}
.about_list ul li span::after {
    position: absolute;
    content: '';
    width: 0%;
    height: 1px;
    background: var(--Brand_color);
    bottom: -10%;
    right: 0%;
    visibility: hidden;
    transition: all linear .3s;
}
.about_list ul li span:hover::after{
    width: 100%;
    visibility: visible;
}

.download_button .btn_slide{
    width: 230px;
    height: 60px;
    border-radius: 30px;
    border: 3px solid var(--Brand_color);
    background: transparent;
    position: relative;
    transition: all linear .3s;
    margin-top: 60px;
}
.download_button .btn_slide:hover{
    background: var(--Brand_color);
}
.btn_slide .circle {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 47px !important;
    height: 47px;
    background: var(--Brand_color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #fff;
    transition: all linear .4s;
}
.download_button .btn_slide:hover .circle{
    left: 174px;
    background: #fff;
    color: var(--Brand_color);
}
.btn_slide .title {
    font-size: 18px;
    font-weight: 600;
    font-family: var(--IBM_Plex-serif);
    color: #fff;
    line-height: 53px;
    margin-left: 75px;
    transition: all linear .3s;
}
.download_button .btn_slide:hover .title{
    margin-left: 80px;
    opacity: 0;
}
.btn_slide .title_hover {
    position: absolute;
    top: 0%;
    left: 43%;
    font-size: 20px;
    font-weight: 600;
    font-family: var(--IBM_Plex-serif);
    color: #fff;
    line-height: 52px;
    opacity: 0;
    transition: all linear .3s;
}
.download_button .btn_slide:hover .title_hover{
    left: 19%;
    opacity: 1;
}
.counter_row{
    display: flex;
    justify-content: end;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.counter_col {
    width: 280px;
    padding: 25px 40px 38px 45px;
    border-radius: 10px;
    background: linear-gradient(145deg, #1E2024 0%, #23272B 100%);
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
    transition: all linear .3s;
}
.counter_col:hover {
    transform: translateY(-3px);
    background: linear-gradient(to right bottom, #212428, #16181c);
}
.counter_col h3{
    font-size: 64px;
    font-weight: 700;
    font-family: var(--IBM_Plex-serif);
    color: #fff;
    transition: all linear .3s;
}
.counter_col:hover h3{
    color: var(--Brand_color);
}
.counter_col p{
    font-size: 16px;
    font-weight: 400;
    font-family: var(--IBM_Plex-serif);
    color: #fff;
    margin-top: 10px;
    margin-left: 85px;
    position: relative;
}
.counter_col p::after {
    position: absolute;
    content: '';
    width: 45px;
    height: 1px;
    background: #fff;
    top: 23%;
    left: -70%;
}
/* ------------------------about part end--------------------- */
/* ========================resume part start==================== */
#resume{
    padding-top: 50px;
    padding-bottom: 50px;
    background: var(--Background_color);
    color: #fff;
}
.resume_heading h2{
    font-size: 36px;
    font-weight: 700;
    font-family: var(--Croissant_one);
    color: #fff;
    margin-bottom: 80px;
    text-align: center;
}
.resume_heading h2 span{
    color: var(--Brand_color);
}
.nav-tabs {
    --bs-nav-tabs-border-width: none; 
    border-bottom: none;
    background: linear-gradient(#1E2024 , #23272B);
    box-shadow: 10px 10px 19px #1C1E22, -10px -10px 19px #262A2E;
    border-radius: 10px;
    height: 70px;
    margin-bottom: 100px;
}
.nav-tabs .nav-link {
    width: 25%;
    border-radius: 10px;
}
.nav-link {
    font-size: 18px;
    font-weight: 500;
    font-family: var(--IBM_Plex-serif);
    color: var(--paragraph);
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background: linear-gradient(#1E2024 , #23272B);
    box-shadow: 10px 10px 19px #1C1E22, -10px -10px 19px #262A2E;
    color: var(--Brand_color);
}
.nav-link:focus, .nav-link:hover {
    box-shadow: 10px 10px 19px #1C1E22, -10px -10px 19px #262A2E;
    color: var(--Brand_color);
}
.resume_row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.resume_col .resume_heading h3{
    font-size: 26px;
    font-weight: 500;
    font-family: var(--Croissant_one);
    color: #fff;
    margin-bottom: 50px;
}
.resume_div{
    width: 5px;
    height: 516px;
    background: #17191C;
}
.resume_box_row{
    display: flex;
    align-items: start;
    gap: 24px;
}
.resume_box_col{
    width: 500px;
    padding: 40px 25px 30px 30px;
    background: linear-gradient(#1E2024 , #23272B);
    box-shadow: 10px 10px 19px #1C1E22, -10px -10px 19px #262A2E;
    margin-bottom: 40px;
    transition: all linear 4s;
    position: relative;

}
.resume_box_col:hover{
    background: linear-gradient(to right bottom, #212428, #16181c);
}
.resume_box_col::after {
    position: absolute;
    content: '';
    width: 18px;
    height: 5px;
    top: 22%;
    left: -18px;
    background: #17191C;
}
.resume_box_col::before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 44px;
    left: -36.5px;
    background: var(--Background_color);
    border: 5px solid #17191C;
    transition: all linear .3s;
}
.resume_box_col:hover::before{
    background: var(--Brand_color);
}
.reasume_box_heading_row{
    display: flex;
    align-items: center;
    gap: 50px;
}
.reasume_box_heading_row .box_heading_col h4{
    font-size: 20px;
    font-weight: 500;
    font-family: var(--IBM_Plex-serif);
    color: #fff;
}
.reasume_box_heading_row .box_heading_col h5{
    font-size: 14px;
    font-weight: 400;
    font-family: var(--poopins);
    color: var(--paragraph);
    margin-top: 15px;
}
.box_heading_col .gpa{
    width: 60px;
    height: 35px;
    border-radius: 3px;
    background: linear-gradient(#1E2024 , #23272B);
    box-shadow: 10px 10px 19px #1C1E22, -10px -10px 10px #262A2E;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
    font-family: var(--IBM_Plex-serif);
    color: var(--Brand_color);
}
.resume_box_heading p{
    font-size: 16px;
    font-weight: 400;
    font-family: var(--poopins);
    color: var(--paragraph);
    margin-top: 40px;
    width: 445px;
}
.professional_row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.professional_heading h2{
    font-size: 26px;
    font-weight: 400;
    font-family: var(--Croissant_one);
    color: #fff;
    margin-bottom: 50px;
}
.professional_heading h2 span{
    color: var(--Brand_color);
}
.professional_skill p{
    font-size: 16px;
    font-weight: 400;
    font-family: var(--IBM_Plex-serif);
    color: var(--paragraph);
    margin-top: 25px;
    margin-bottom: 10px;
}
.design_skill{
    width: 550px;
    height: 13px;
    border-radius: 10px;
    background: #111010;
    position: relative;
}
.design_skill_child::after{
    position: absolute;
    content: '';
    width: 0%;
    height: 100%;
    border-radius: 10px;
    top: 0%;
    left: 0%;
    background: var(--Brand_color);
    animation: canva 1s linear forwards;
}
@keyframes canva{
    form{
        width: 0%;
    }
    to{
        width: 80%;
    }
}

.design_skill_child span {
    position: absolute;
    content: '';
    top: -27px;
    left: 0%;
    font-size: 14px;
    font-weight: 400;
    font-family: var(--poopins);
    color: #fff;
    animation: canva_span 1s linear forwards;
}
@keyframes canva_span{
    form{
        left: 0%;
    }
    to{
        left: 75%;
    }
    
}
.figma .design_skill_child::after{
    animation: figma 1s linear forwards;
}
@keyframes figma{
    form{
        width: 0%;
    }
    to{
        width: 90%;
    }
}
.design_skill_child .figma_span {
    animation: figma_span 1s linear forwards;
}
@keyframes figma_span{
    form{
        left: 0%;
    }
    to{
        left: 85%;
    }
} 
.Adobe .design_skill_child::after{
    animation: Adobe 1s linear forwards;
}
@keyframes Adobe{
    form{
        width: 0%;
    }
    to{
        width: 65%;
    }
}
.design_skill_child .adove_span {
    animation: adove_span 1s linear forwards;
}
@keyframes adove_span{
    form{
        left: 0%;
    }
    to{
        left: 60%;
    }
} 
.Illustrator .design_skill_child::after{
    animation: Illustrator 1s linear forwards;
}
@keyframes Illustrator{
    form{
        width: 0%;
    }
    to{
        width: 75%;
    }
}
.design_skill_child .Illustrator_span {
    animation: Illustrator_span 1s linear forwards;
}
@keyframes Illustrator_span{
    form{
        left: 0%;
    }
    to{
        left: 71%;
    }
} 
.design .design_skill_child::after{
    animation: design 1s linear forwards;
}
@keyframes design{
    form{
        width: 0%;
    }
    to{
        width: 85%;
    }
}
.design_skill_child .design_span {
    animation: design_span 1s linear forwards;
}
@keyframes design_span{
    form{
        left: 0%;
    }
    to{
        left: 80%;
    }
} 
/* =============Development Skill part=================*/
.html .design_skill_child::after{
    animation: html 1s linear forwards;
}
@keyframes html{
    form{
        width: 0%;
    }
    to{
        width: 100%;
    }
}
.design_skill_child .html_span {
    animation: html_span 1s linear forwards;
}
@keyframes html_span{
    form{
        left: 0%;
    }
    to{
        left: 94%;
    }
}
.css .design_skill_child::after{
    animation: css 1s linear forwards;
}
@keyframes css{
    form{
        width: 0%;
    }
    to{
        width: 95%;
    }
}
.design_skill_child .css_span {
    animation: css_span 1s linear forwards;
}
@keyframes css_span{
    form{
        left: 0%;
    }
    to{
        left: 90%;
    }
}
.java .design_skill_child::after{
    animation: java 1s linear forwards;
}
@keyframes java{
    form{
        width: 0%;
    }
    to{
        width: 85%;
    }
}
.design_skill_child .java_span {
    animation: java_span 1s linear forwards;
}
@keyframes java_span{
    form{
        left: 0%;
    }
    to{
        left: 80%;
    }
}
.react .design_skill_child::after{
    animation: react 1s linear forwards;
}
@keyframes react{
    form{
        width: 0%;
    }
    to{
        width: 80%;
    }
}
.design_skill_child .react_span {
    animation: react_span 1s linear forwards;
}
@keyframes react_span{
    form{
        left: 0%;
    }
    to{
        left: 75%;
    }
}
.node .design_skill_child::after{
    animation: node 1s linear forwards;
}
@keyframes node{
    form{
        width: 0%;
    }
    to{
        width: 75%;
    }
}
.design_skill_child .node_span {
    animation: node_span 1s linear forwards;
}
@keyframes node_span{
    form{
        left: 0%;
    }
    to{
        left: 70%;
    }
}
/* ------------- Development Skill end-----------------*/
.language_row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.language_col .language_heading p {
    width: 534px;
    font-size: 16px;
    font-weight: 400;
    font-family: var(--poopins);
    color: #fff;
    margin-top: 100px;
}
.language_button .language_btn {
    width: 200px;
    height: 60px;
    border-radius: 20px;
    background: linear-gradient(#1E2024, #23272B);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 2px 4px;
    margin-top: 70px;
    overflow: hidden;
    position: relative;
    transition: all linear .4s;
}
.language_button .language_btn:hover{
    background: linear-gradient( to bottom, #212428, #16181c);
}
.language_btn .btn_text {
    font-size: 16px;
    font-weight: 500;
    font-family: var(--Croissant_one);
    color: #fff;
    line-height: 60px;
    margin-left: 28px;
    transition: all linear .3s;
}
.language_button .language_btn:hover .btn_text{
    color: var(--Brand_color);
}
.button_part {
    position: absolute;
    width: 24%;
    height: 100%;
    overflow: hidden;
    top: 0%;
    right: 0%;
    background: transparent;
}
.button_part .btn_icon {
    position: absolute;
    top: 25%;
    left: 30%;
    font-size: 18px;
    color: #fff;
    transition: all linear .3s;
}
.button_part:hover .btn_icon{
    top: 62%;
    color: var(--Brand_color);
    opacity: 0;
    visibility: hidden;
}
.button_part .btn_icon_scound {
    position: absolute;
    top: -7%;
    left: 30%;
    font-size: 18px;
    color: var(--Brand_color);
    visibility: hidden;
    opacity: 0; 
    transition: all linear .4s;
}
.button_part:hover .btn_icon_scound{
    top: 25%;
    left: 30%;
    visibility: visible;
    opacity: 1;
}
/* =============language skill================ */
.bangla .design_skill_child::after{
    animation: bangla 1s linear forwards;
}
@keyframes bangla{
    form{
        width: 0%;
    }
    to{
        width: 100%;
    }
}
.design_skill_child .bangla_span {
    animation: bangla_span 1s linear forwards;
}
@keyframes bangla_span{
    form{
        left: 0%;
    }
    to{
        left: 94%;
    }
}
.english .design_skill_child::after{
    animation: english 1s linear forwards;
}
@keyframes english{
    form{
        width: 0%;
    }
    to{
        width: 80%;
    }
}
.design_skill_child .english_span {
    animation: english_span 1s linear forwards;
}
@keyframes english_span{
    form{
        left: 0%;
    }
    to{
        left: 75%;
    }
}
.hindi .design_skill_child::after{
    animation: hindi 1s linear forwards;
}
@keyframes hindi{
    form{
        width: 0%;
    }
    to{
        width: 95%;
    }
}
.design_skill_child .hindi_span {
    animation: hindi_span 1s linear forwards;
}
@keyframes hindi_span{
    form{
        left: 0%;
    }
    to{
        left: 90%;
    }
}
.urdu .design_skill_child::after{
    animation: urdu 1s linear forwards;
}
@keyframes urdu{
    form{
        width: 0%;
    }
    to{
        width: 80%;
    }
}
.design_skill_child .urdu_span {
    animation: urdu_span 1s linear forwards;
}
@keyframes urdu_span{
    form{
        left: 0%;
    }
    to{
        left: 75%;
    }
}
/* --------------language skill---------------- */
/* ===============what i do start================= */
.what_row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}
.what_col{
    width: 500px;
    padding: 40px 70px 53px 30px;
    background: transparent;
    box-shadow: 10px 10px 19px #1C1E22, -10px -10px 19px #262A2E;
    transition: all linear .3s;
}
.what_col:hover {
    background: linear-gradient( to bottom, #212428, #16181c);
}
.what_icon i{
    width: 80px;
    height: 80px;
    border-radius: 15px;
    background: #fff;
    font-size: 38px;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all linear .3s;
}
.what_col:hover .what_icon i{
    background: var(--Brand_color);
    color: #fff;
}
.what_heaidng h3{
    font-size: 22px;
    font-weight: 500;
    font-family: var(--IBM_Plex-serif);
    color: #fff;
    margin-top: 25px;
}
.what_heaidng p{
    width: 400px;
    font-size: 16px;
    font-weight: 400;
    font-family: var(--IBM_Plex-serif);
    color: var(--paragraph);
    margin-top: 25px;
}
/* ------------------what i do --------------- */
/* ------------------------resume part end--------------------- */
/* ========================portfolio part start==================== */
#portfolio{
    padding-bottom: 50px;
    background: var(--Background_color);
}

.portfolio_heading h2{
    font-size: 20px;
    font-weight: 400;
    font-family: var(--Croissant_one);
    color: var(--Brand_color);
    text-align: center;
}
.portfolio_heading h3{
    font-size: 36px;
    font-weight: 700;
    font-family: var(--Croissant_one);
    color: #fff;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 80px;
}
.portfolio_heading h3 span{
    color: var(--Brand_color);
}
.portfolio_row{
    display: flex;
    justify-content: center;
    gap: 70px;
}
.portfolio_col{
    width: 550px;
    padding: 25px 25px 30px 25px;
    border-radius: 20px;
    background: var(--Background_color);
    box-shadow: 10px 10px 19px #1C1E22, -10px -10px 19px #262A2E;
}
.portfolio_col .portfolio_img{
    background: url(../image/resturant_website.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
    border-radius: 20px;
    transition: all linear 3s;
}
.portfolio_col .portfolio_img:hover{
    background-position: bottom;
}
.secound_img .portfolio_img{
    background: url(../image/islamic.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.portfolio_col h4{
    font-size: 26px;
    font-weight: 600;
    font-family: var(--IBM_Plex-serif);
    color: #fff;
    text-align: center;
    margin-top: 10px;
}
/* ------------------------portfolio part end--------------------- */
/* ========================service part start==================== */
#Service{
    padding-top: 50px;
    padding-bottom: 50px;
    background: var(--Background_color);
}
.service_heading h2{
    font-size: 20px;
    font-weight: 500;
    font-family: var(--Croissant_one);
    color: var(--Brand_color);
    text-align: center;
}
.service_heading h3{
    font-size: 36px;
    font-weight: 700;
    font-family: var(--Croissant_one);
    color: #fff;
    text-align: center;
    margin-top: 20px;
    position: relative;
}
.service_heading h3 span{
    color: var(--Brand_color);
}
.service_heading h3::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 2px;
    background: var(--Brand_color);
    bottom: -45%;
    left: 46%;
}
.service_row{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-top: 90px;
}
.service_row .service_col{
    width: 450px;
    padding: 30px 40px 35px 30px;
    background: var(--Background_color);
    box-shadow: 10px 10px 19px #1C1E22, -10px -10px 19px #262A2E;
    transition: all linear .3s;
}
.service_row .service_col:hover{
    background: var(--liniar_gradiant);
}
.service_head h3{
    font-size: 28px;
    font-weight: 700;
    font-family: var(--IBM_Plex-serif);
    color: #fff;
}
.service_head h3 span{
    color: var(--Brand_color);
}
.service_head p{
    width: 400px;
    font-size: 16px;
    font-weight: 400;
    font-family: var(--poopins);
    color: #fff;
    margin-top: 30px;
    margin-bottom: 25px;
}
.service_list ul li{
    margin-bottom: 12px;
}
.service_list ul li i{
    font-size: 16px;
    color: #fff;
}
.service_list ul li span{
    font-size: 16px;
    font-weight: 400;
    font-family: var(--IBM_Plex-serif);
    color: #fff;
    margin-left: 10px;
}
.nav-link:focus, .nav-link:hover {
    color: var(--Brand_color);
}
/* ------------------------service part end--------------------- */
/* ========================client part start==================== */
#client_say{
    padding-top: 50px;
    padding-bottom: 50px;
    background: var(--Background_color);
}
.client_say h2{
    font-size: 16px;
    font-weight: 400;
    font-family: var(--Croissant_one);
    color: var(--Brand_color);
    text-align: center;

}
.client_say h3{
    font-size: 36px;
    font-weight: 700;
    font-family: var(--Croissant_one);
    color: #fff;
    text-align: center;
    margin-top: 20px;
}
.client_colam {
    display: flex !important;
    justify-content: space-evenly;
    align-items: end;
    margin-bottom: 30px;
    margin-top: 100px;
}
.client_img{
    width: 200px;
    padding: 20px 20px 10px;
    background: var(--Background_color);
    box-shadow: var(--box_shadow);
    border-radius: 10px;
    margin-top: 50px;
}
.client_img img{
    width: 160px !important;
    border-radius: 10px;
}
.client_img h4{
    font-size: 12px;
    font-weight: 400;
    font-family: var(--poopins);
    color: var(--Brand_color);
    margin-top: 10px;
}
.client_img h5{
    font-size: 24px;
    font-weight: 500;
    font-family: var(--IBM_Plex-serif);
    color: #fff;
    margin-top: 7px;
}
.client_img h6{
    font-size: 14px;
    font-weight: 400;
    font-family: var(--poopins);
    color: #fff;
    margin-top: 10px;
}
.cliend_head_colam img{
    width: 100px !important;
    margin-bottom: 30px;
}
.client_head_col{
    width: 800px;
    padding: 40px 45px 20px 40px;
    background: var(--Background_color);
    box-shadow: var(--box_shadow);
    border-radius: 10px;
    position: relative;
}
.client_text_row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.client_text_row::after {
    content: '';
    position: absolute;
    width: 600px;
    height: 2px;
    top: 105px;
    left: 8%;
    border-radius: 5px;
    background: #17191C;
}
.client_text_col h2{
    font-size: 26px;
    font-weight: 400;
    font-family: var(--IBM_Plex-serif);
    color: #fff;
}
.client_text_col p{
    font-size: 12px;
    font-weight: 400;
    font-family: var(--poopins);
    color: var(--paragraph);
    margin-top: 10px;
}
.client_text_col ul{
    width: 105px;
    height: 40px;
    border-radius: 6px;
    background: var(--Background_color);
    box-shadow: var(--box_shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
.client_text_col ul li i{
    font-size: 10px;
    color: var(--Brand_color);
}
.client_head_col h3 {
    font-size: 16px;
    font-weight: 400;
    font-family: var(--poopins);
    color: var(--paragraph);
    width: 700px;
    line-height: 24px;
    margin-top: 100px;
}
.prev {
    width: 60px;
    height: 60px;
    border-radius: 6px;
    background: linear-gradient(#1E2024 , #23272B);
    box-shadow: var(--box_shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 21%;
    left: 81%;
    font-size: 26px;
    color: var(--Brand_color);
    z-index: 99;
    transition: all linear .4s;
}
.prev:hover{
    background: var(--liniar_gradiant);
}
.next {
    width: 60px;
    height: 60px;
    border-radius: 6px;
    background: linear-gradient(#1E2024 , #23272B);
    box-shadow: var(--box_shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 21%;
    left: 88%;
    font-size: 26px;
    color: var(--Brand_color);
    z-index: 99;
    transition: all linear .4s;
}
.next:hover{
    background: var(--liniar_gradiant);
}
.client_say_row  .slick-dots {
    position: absolute;
    bottom: -3%;
    left: 11%;
    display: flex;
    gap: 15px;
}
.client_say_row  ul li button{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    font-size: 0px;
    background: linear-gradient(145deg, #1E2024 0%, #23272B 100%);
    box-shadow: -1px -3px 3px -2px rgba(255, 255, 255, 0.20) inset, 1px 4px 2px -3px rgba(0, 0, 0, 0.70) inset; rgba(0, 0, 0, 0.07) 0px 32px 64px;
    border: none;
}
.client_say_row  ul .slick-active button{
    background: var(--Brand_color);
    box-shadow: none;
}
/* ------------------------client part end--------------------- */
/* ========================menu part start==================== */

/* ------------------------menu part end--------------------- */
/* ========================menu part start==================== */

/* ------------------------menu part end--------------------- */
